.header {
    position: fixed;
    width: 100vw;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 4.5rem 3rem 3rem;
    z-index: 2;
}

@media all and (max-width: 992px) {
  .header {
    position: fixed;
    padding: 3rem 2.5rem 3rem 1rem;
}
}

a {
  text-decoration: none;
}

.language-options {
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language-options img {
  width: 2rem;
  height: 2rem;
  margin: 0;
}